######################################################################################
#Rename this file to terraform.tfvars and fill in the values for the variables below.#
######################################################################################


pm_api_url                      = "https://192.168.0.200:8006/api2/json"
pm_api_token_secret             = ""
pm_api_token_id                 = ""
pm_tls_insecure                 = true
target_node                     = "pve"
template_name_ubuntu            = "ubuntu-template"                # Replace with the actual template ID of ubuntu-cloud
template_name_kali              = "kali-2024-1"                    # Replace with the actual template ID of kali-cloud
template_name_windows10         = "Windows10x64-22h2-cloudinit-raw"                # Replace with the actual template ID of windows10-cloud
template_name_windowsserver2016 = "WinServer2016x64-cloudinit-raw" # Replace with the actual template ID of windows10-cloud
template_name_windowsserver2019 = "WinServer2019x64-cloudinit-raw" # Replace with the actual template ID of windows10-cloud 